@model GameModCrafters.Models.Transaction

@{
    ViewData["Title"] = "Create";
}

<div class="container my-4">
    <h4>發起委託邀請</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" id="createForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="CommissionId" class="form-label"></label>
                    <select asp-for="CommissionId" class="form-control" asp-items="ViewBag.CommissionId"></select>
                </div>
                <div class="mb-3">
                    <label asp-for="PayeeId" class="form-label"></label>
                    <input asp-for="PayeeId" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="Budget" class="form-label"></label>
                    <input asp-for="Budget" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="Describe" class="form-label"></label>
                    <input asp-for="Describe" class="form-control" />
                    <span asp-validation-for="Describe" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input type="submit" value="Create" class="btn btn-primary" id="CreateBtn" />
                </div>
            </form>
        </div>
    </div>
</div>

@section js{
    <script>
        $.get('/Home/GetAllUserEmails', function (data) {
            $("#PayeeId").autocomplete({
                source: data
            });
        });
    </script>
}




