body {
    background-color: azure;
}

.Entrustcontainer {
    box-sizing:border-box;
    border-radius: 5px;
    border:10px solid #808080;
    padding: 5px;
    width: 56%;
    margin-bottom:10px;
    margin-top: 10px;
}

.row{
    overflow: hidden;
}


    .btnContainer {
        display: flex;
        gap: 5px;
        width: 100%;
        margin-top: 10px;
    }

.CommissionDescription {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}


