body {

}

a{
    text-decoration:none ;
}

.Release_Area_Wrap {
    background-color: #bdbcbc;
    /* background-image: linear-gradient(to bottom, #d7e9f7, #c6dced); */
    border-top: 1px solid #a4b6c3;
    border-bottom: 1px solid #a4b6c3;
    margin: 10px auto;
    padding: 10px 0;
    min-height: 80vh;
    /* display: flex;
     justify-content: center;
     align-items: center; */
}

.entrust_link a {
    padding: 0 5px;
}

.entrust .row {
    /* background-color: #ccc; */
    padding: 20px;
}



.row:nth-child(even) {
    background: linear-gradient(to right, #f6f6f6, #e9e9e9);
}

.row:nth-child(odd) {
    background: linear-gradient(to right, #e9e9e9, #f6f6f6);
}

.row .title {
    display: flex;
    justify-content: center;
}

.Release_Area_Wrap {
    padding: 20px;
}


.rowwrap a {
    text-decoration: none;
    color: black;
}

.GameNameTitle, .titleTitle, .SenderDateTitle, .LastReplyTitle, .statusTitle, .SendernNameTitle {
    padding: 20px;
}



.rowwrap .GameName, .rowwrap .title, .rowwrap .status, .rowwrap .SendernName, .rowwrap .LastReply, .rowwrap .SenderDate {
    padding: 20px;
}

.rowwrap:nth-child(even) .GameName:hover {
    background-color: #e9e9e9;
}

.rowwrap:nth-child(odd) .GameName:hover {
    background-color: #f6f6f6;
}

.rowwrap:nth-child(even) .title:hover {
    background-color: #e9e9e9;
}

.rowwrap:nth-child(odd) .title:hover {
    background-color: #f6f6f6;
}
