
.agile-voltsub {
    width: 35%;
    margin: 0 auto;
    background: rgba(20, 20, 20, 0.52);
    box-sizing: border-box;
    padding: 2em;
    border-radius:10px
}

    .agile-voltsub h2 {
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        text-transform: capitalize;
        color: #fff;
        letter-spacing: 2px;
        padding: 0.2em 0.2em;
    }

    .agile-voltsub label {
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        text-transform: capitalize;
        letter-spacing: 1px;
        margin: 0;
        padding: 1em 0 0.5em;
        color: white;
    }

    .agile-voltsub input,
    .agile-voltsub select,
    .agile-voltsub textarea {
        font-size: 15px;
        font-weight: 500;
        text-align: left;
        padding: 0.8em 0.5em 0.8em;
        box-sizing: border-box;
        width: 100%;
        border: none;
        outline: none;
        background: rgba(255, 255, 255, 0.19);
        color: #fff;
    }

    .agile-voltsub textarea {
        min-height: 130px;
    }

        .agile-voltsub input[type="submit"] {
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            text-transform: capitalize;
            letter-spacing: 2px;
            background: #e8ec19;
            color: #000;
            border: none;
            outline: none;
            width: 45%;
            margin: 2em auto 0;
            display: block;
            padding: 0.5em 0.5em;
            cursor: pointer;
            border-radius:5px
        }

            .agile-voltsub input[type="submit"]:hover {
                background: #ecdd19;
                transition: 0.5s ease-in;
            }

#gifImage {
    position: absolute;
    z-index: -1; 
    width: 100px;
    height: 100px;
}

.footer{
    z-index:-2;
}

.budget-div{
    display:flex;
    gap:10px;
    align-items:center;
}

    .budget-div input{
        width:80%;
    }

    .budget-div div{
        color:white;
    }