.footer {
    background-color: black;
    width: 100%;
    text-align: center;
    color: white;
    padding: 40px;
    position:absolute;
   
}
.footer a{
    text-decoration:none;
}
.wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    border-bottom: #ccc solid 1px;
    padding: 10px;
}

.icon_img a {
    padding: 0 10px;
    color: white;
}

.wrap_bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}

.menu {
    display: flex;
}

.menu a {
     color: white;
     padding: 0 5px;
}

.menu a:first-child {
     border-right: #ccc solid 1px;
}

#nmae-avatar{
    display:flex;
    gap: 10px;
    align-items: center;
}

#popover-avatar{
    border-radius:50%;
    border:2px solid gray;
    width:40%;
}

#popover-username{
    font-size:25px
}

.RequestMessage {
    background-color: white;
    padding: 10px;
}

.RequestMessage span{
    color:red;
}


