@model int
@{
    ViewData["Title"] = "Success";
}

<div id="success">
    <h1>付款成功</h1>
    <p>你現在擁有 @Model 個Mod Coin</p>

    <div class="mt-5 ms-5" id="redirectSection" style="display: none;">
        <button class="btn btn-primary" id="redirectToMod">回到購買頁面</button>
    </div>
</div>

@section css{
    <style>
        #success {
            min-height: 60vh;
        }
    </style>
}

@section js {
    <script>
        $(document).ready(function () {
            var redirectUrl = sessionStorage.getItem('redirectUrl');

            if (redirectUrl) {
                // 如果 sessionStorage 有 redirectUrl 則顯示按鈕並設定其點擊事件
                $('#redirectSection').show();
                $('#redirectToMod').on('click', function () {
                    // 導向到 Mod 頁面並清除 sessionStorage
                    location.href = redirectUrl;
                    sessionStorage.removeItem('redirectUrl');
                });
            }
        });
    </script>
}

