@model int
@{
    ViewData["Title"] = "Success";
}

<div id="success">
    <h1>付款成功</h1>
    <p>你現在擁有 @Model 個Mod Coin</p>
</div>

@section css{
    <style>
        #success {
            min-height: 60vh;
        }
    </style>
}

