@model User
@{

}

<div class="forgotwrap">
    <div class="Register">
       
        <div class="text">
            
            <p>電子郵件驗證成功!</p>
            <p>將在 <span id="countdown">5</span> 秒后自動跳轉...</p>
        </div>

        
    </div>

</div>

@section js{
    <script>
    // 获取倒计时显示的元素
    var countdownElement = document.getElementById('countdown');

    // 设置初始倒计时秒数
    var countdownSeconds = 5;

    // 更新倒计时显示
    function updateCountdown() {
        countdownElement.textContent = countdownSeconds;
    }

    // 倒计时函数
    function countdown() {
        // 更新倒计时显示
        updateCountdown();

        // 如果倒计时秒数为 0，执行重定向操作
        if (countdownSeconds <= 0) {
                window.location.href = '/Account/LoginPage'; // 替换为你想要跳转的页面的 URL
        } else {
            // 倒计时秒数减一
            countdownSeconds--;

            // 延迟一秒后再次调用倒计时函数
            setTimeout(countdown, 1000);
        }
    }

    // 开始倒计时
    countdown();
</script>

   
}
@section css{
    <style>
        body {
            background-color: gray;
        }

        .forgotwrap {
            width: 100%;
            height: 100vh;
            background-color: azure;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .Register {
            max-width: 400px;
            width: 100%;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

            .Register .back {
                display: block;
                text-decoration: none;
                margin-bottom: 20px;
                color: #333;
            }

            .Register .text {
                text-align: center;
                margin-bottom: 20px;
            }

                .Register .text h1 {
                    margin-bottom: 10px;
                }

                .Register .text p {
                    margin-bottom: 20px;
                }

            .Register .form-floating {
                margin-bottom: 20px;
            }

                .Register .form-floating label {
                    font-weight: bold;
                }

                .Register .form-floating .form-control {
                    border-radius: 5px;
                }

            .Register button {
                width: 100%;
            }
    </style>
}

