@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "RestPassword";
}
<div class="resetwrap">
    <div class="reset">
       

        <div class="text">
            <h1>重置密碼</h1>

        </div>

        <form class="form-group row g-3" asp-action="RestPassword" asp-controller="Account" method="post">
            <div class="col-auto">
                <label for="輸入新的密碼" class="newlabel">輸入新的密碼</label>
            </div>
            <input asp-for="Password1" type="password" class="form-control" id="exampleInputPassword1"
                   aria-labelledby="passwordHelpBlock">
      
            @Html.ValidationMessageFor(m=>m.Password1,"",new{@class = "text-danger"})
           
       
            <div class="col-auto">
                <label for="確認新的密碼" class="confirmlabel">確認新的密碼</label>
            </div>
            <input asp-for="Password2" type="password" class="form-control" id="exampleInputPassword2" aria-labelledby="passwordHelpBlock">
        
            @Html.ValidationMessageFor(m=>m.Password2,"",new{@class = "text-danger"})
          
            

            <div class="d-grid col-6 mx-auto">
                <button type="submit" class="btn btn-primary">確定</button>
            </div>



        </form>

        

        

    </div>

</div>

@*<script>
    $(document).ready(function () {
        $("form").validate(); // 手动触发表单验证
    });
</script>
RRRRRRRRRRRRRRRRRRRRRRR
*@


@section css{
    <style>
        body {
            background-color: gray;
        }

        .resetwrap {
            width: 100%;
            height: 100vh;
            background-color: azure;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .reset {
            max-width: 400px;
            width: 100%;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

      
        .reset .text {
        text-align: center;
        margin-bottom: 20px;
        }

        .reset .text h1 {
        margin-bottom: 20px;
        }

        .reset .form-group {
        margin-bottom: 20px;
        }

        .reset .form-group label {
        font-weight: bold;
        }

        .reset .form-group .form-control {
        border-radius: 5px;
        }

       

        .reset .d-grid {
        margin-top: 20px;
        }
    </style>
}