
@{
    ViewData["Title"] = "RestPassword";
}

<div class="resetwrap">
    <div class="login">
        <div class="backlink">
            <a href="Log_In.html" class="back">上一頁</a>
        </div>

        <div class="text">
            <h1>重置密碼</h1>

        </div>

        <div class="form-group row g-3">
            <div class="col-auto">
                <label for="new-password" class="newlabel">輸入新的密碼</label>
            </div>

            <input type="password" class="form-control" id="new-password" placeholder="輸入新的密碼"
                   aria-labelledby="passwordHelpInline">

            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                    長度必須為8-20個字元
                </span>
            </div>
        </div>

        <div class="form-group row g-3">
            <div class="col-auto">
                <label for="confirm-password" class="confirmlabel">確認密碼</label>
            </div>

            <input type="password" class="form-control" id="confirm-password" placeholder="確認密碼">


        </div>


        <div class="d-grid col-6 mx-auto">
            <button type="submit" class="btn btn-primary">確定</button>
        </div>

    </div>

</div>