@if (User.Identity.IsAuthenticated)
{
    <div class="chatbox">
        <div class="Container">
            <div class="span">聊天室</div>
            <div class="room">
                <!-- 左侧边栏 -->
                <div class="sidebar-frame">
                    <div class="sidebar-search">
                        <input type="text" id="userSearchInput" placeholder="輸入聊天對象的Email" />
                        <button class="btn btn-primary" id="searchButton">搜索並添加</button>
                    </div>

                    <div>
                        <div class="sidebar" id="chatList"></div>
                    </div>
                </div>
                
                
                <div class="input">
                    <div class="chat-box" id="messagesList"></div>
                    <div class="input-box">
                        <input type="text" id="messageInput" placeholder="Your message" />
                        <input type="button" id="sendButton" value="Send Message" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}


