<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GameModCrafters</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/footer.css" />
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
    @await RenderSectionAsync("css", required: false)
</head>
<body>
    <partial name="_NavBarPartial"></partial>
    
    @RenderBody()
     

    <div class="footer">
        <div class="title">
            <h3>&copy;copyright 2023 by dan</h3>
        </div>
        <div class="wrap">
            <div class="logo">
                GameModeLogo
            </div>
            <div class="icon_img">
                <a href=""><i class="fi fi-brands-instagram"></i></a>
                <a href=""><i class="fi fi-brands-facebook"></i></a>
                <a href=""><i class="fi fi-brands-twitter"></i></a>
                <a href=""><i class="fi fi-brands-youtube"></i></a>
                <a href=""><i class="fi fi-brands-twitch"></i></a>
            </div>

        </div>
        <div class="wrap_bottom">
            <div class="company">
                版權所有
                &copy; 2023第七組電腦單機mod委託公司
            </div>
            <div class="menu">
                <a href="">服務條款</a>
                <a href="">隱私策略</a>

            </div>
        </div>

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("js", required: false)
</body>
</html>
