<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GameModCrafters</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/footer.css" />
    <link rel="stylesheet" href="~/css/ChatBoxStyle.css" />
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
    @await RenderSectionAsync("css", required: false)
    <style>
        #searchResults{
            position:absolute;
            top:50px;
            z-index:5;
        }

        #searchForm{
            position:relative;
        }

        .GameNameTitle-nav {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        .detail-nav {
            display: flex;
            justify-content: flex-end;
        }

        .detail-nav p{
            margin-left:10px;
        }
    </style>
</head>
<body>
    
    <partial name="_NavBarPartial"></partial>

    @RenderBody()
     

    <div class="footer">
        <div class="title">
            <h3>&copy;copyright 2023 by dan</h3>
        </div>
        <div class="wrap">
            <div class="logo">
                GameModeLogo
            </div>
            <div class="icon_img">
                <a href=""><i class="fi fi-brands-instagram"></i></a>
                <a href=""><i class="fi fi-brands-facebook"></i></a>
                <a href=""><i class="fi fi-brands-twitter"></i></a>
                <a href=""><i class="fi fi-brands-youtube"></i></a>
                <a href=""><i class="fi fi-brands-twitch"></i></a>
            </div>

        </div>
        <div class="wrap_bottom">
            <div class="company">
                版權所有
                &copy; 2023第七組電腦單機mod委託公司
            </div>
            <div class="menu">
                <a href="">服務條款</a>
                <a href="">隱私策略</a>

            </div>
        </div>

    </div>
    <partial name="_ChatBoxPartial"></partial>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("js", required: false)
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(() => {
            $.ajax({
                url: '/Account/GetUserName',
                type: 'GET',
                success: function (result) {
                    $('#navbarname').text("Hello " + result);
                }
            });
        })
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.6/signalr.min.js"></script>
    <script type="text/javascript">
        var connection = new signalR.HubConnectionBuilder().withUrl("/chathub").build();

        connection.on("ReceiveMessage", function (senderEmail, receiverEmail, messageContent) {
            var encodedMsg = senderEmail + " says to " + receiverEmail + ": " + messageContent;
            var li = document.createElement("li");
            li.textContent = encodedMsg;
            document.getElementById("messagesList").appendChild(li);
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });

        document.getElementById("sendButton").addEventListener("click", function (event) {
            var receiverEmail = $(".room-link.active:first").data("room");
            var messageContent = document.getElementById("messageInput").value;
            connection.invoke("SendMessage", receiverEmail, messageContent).catch(function (err) {
                return console.error(err.toString());
            });
            event.preventDefault();
        });

        $(document).ready(function () {
            $.get('/Home/GetChatHistory', function (data) {
                console.log(data);

                data.forEach(function (email, index) {
                    var roomElement = '<div class="sliderroom ' + (index == 0 ? 'active' : '') + '"><button class="room-link ' + (index == 0 ? 'active' : '') + '" data-room="' + email + '">' + email + '</button></div>';

                    $('#chatList').append(roomElement);
                });

                // 綁定按鈕點擊事件
                $(".room-link").click(function () {
                    // 移除所有按鈕的 'active' 類別
                    $(".room-link").removeClass("active");
                    $(".sliderroom").removeClass("active");

                    // 為被點擊的按鈕添加 'active' 類別
                    $(this).addClass("active");
                    $(this).parent(".sliderroom").addClass("active");
                });
            });
        });
    </script>

    <script>
        window.onload = function () {
            let windowHeight = $(window).height();
            let moveto = $(window).height() * 0.38;
            $('.Container').css("top", windowHeight)

            $('.span').on('click', function () {
                let ChatBoxHeight = $('.Container').css('top');

                if (parseInt(ChatBoxHeight) === windowHeight) {
                    $('.Container').css("top", moveto)
                }

                else {
                    $('.Container').css("top", windowHeight)
                };
            });
        };
    </script>
    











    <script>
        $(document).ready(function () {
            $('input[name="keyword"]').keyup(function () {

                console.log("111");
                var keyword = $('input[name="keyword"]').val();
                if (keyword.trim() === '') {
                    // 清空输入框内容时隐藏搜索结果
                    $('#searchResults').empty();
                    return;
                }
                // 发送 AJAX 请求
                $.get('/Home/AutoSearch', { keyword: keyword }, function (data) {
                    $('#searchResults').html(data); // 将搜索结果渲染到页面中
                });
            });
        });
        @*$(document).ready(function () {
            $('#search_btn').keyup(function () {

                console.log("111");
                var keyword = $('input[name="keyword"]').val();
                if (keyword.trim() === '') {
                    // 清空输入框内容时隐藏搜索结果
                    $('#searchResults').empty();
                    return;
                }
                // 发送 AJAX 请求
                $.get('/Home/Search', { keyword: keyword }, function (data) {
                    $('#searchResults').append(data); // 将搜索结果渲染到页面中
                });
            });
        });
        *@
    </script>
</body>
</html>
