@using Microsoft.AspNetCore.Http;
@{
    var email = "";//...
    if (ViewContext.HttpContext.Session.GetString("Email") != null)
    {
        email = ViewContext.HttpContext.Session.GetString("Email");
    }
    
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">GameModCrafters</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light rounded" type="submit">Search</button>
            </form>

            <ul class="navbar-nav ms-3">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="ModMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Mod
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="ModMenuLink">
                        <li><a class="dropdown-item" href="#">瀏覽的Mod</a></li>
                        <li><a class="dropdown-item" href="#">下載的Mod</a></li>
                        <li><a class="dropdown-item" href="#">收藏的Mod</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="navbar-nav ms-3">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="CommissionMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        委託
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="CommissionMenuLink">
                        <li><a class="dropdown-item" href="#">發布的委託</a></li>
                        <li><a class="dropdown-item" href="#">追蹤的委託</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                @*@if(email!="")
                {
                   
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-controller="Account" asp-action="LoginPage">個人專區</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light">Hello @email</a>
                        
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-controller="Account" asp-action="LoginPage">登入</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="RegisterPage">註冊</a>
                    </li>
                }*@
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-controller="Account" asp-action="PersonPage">個人專區</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" id="navbarname">Hello @User.Identity.Name</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="Account" asp-action="Signout">登出</a>

                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-controller="Account" asp-action="PersonPage">個人專區</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active"
                           aria-current="page"
                           asp-controller="Account"
                           asp-action="LoginPage"
                           asp-route-returnUrl="@Context.Request.Path">登入</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="RegisterPage">註冊</a>
                    </li>
                }

            </ul>
        </div>
    </div>
</nav>
