@model GameModCrafters.Models.Commission

@{
    ViewData["Title"] = "Details";
}

<div class="container Entrust">
    <h1>委託發布</h1>
    <div class="row">
        <form method="post">
            <div class="mb-3">
                <label asp-for="CommissionTitle" class="form-label">委託標題:</label>
                <input type="text" class="form-control" asp-for="CommissionTitle">
            </div>
            <div class="mb-3">
                <label asp-for="GameId" class="form-label">遊戲名稱:</label>
                <input type="search" class="form-control" asp-for="GameId">
            </div>
            <div class="mb-3">
                <label asp-for="CommissionDescription" class="form-label">委託詳情:</label>
                <div id="editor"></div>
                <input asp-for="CommissionDescription" class="form-control" type="hidden" />
            </div>
            <div class="mb-3">
                <label asp-for="Budget">預算:</label>
                <input type="text" class="budgetinput" asp-for="Budget">
            </div>
            <div class="btnCantaner">
                <input type="submit" value="發布" asp-controller="Commissions" asp-action="Create" class="btn btn-primary form-control" />
                <input type="submit" value="修改" asp-controller="Commissions" asp-action="Edit" class="btn btn-primary form-control" />
                <input type="submit" value="儲存草稿" asp-controller="Commissions" asp-action="Details" class="btn btn-primary form-control" />
                <input type="submit" value="刪除" asp-controller="Commissions" asp-action="Delete" class="btn btn-primary form-control" />
            </div>
        </form>
    </div>
</div>

@section css {
    <link rel="stylesheet" href="~/css/PersonalEntrust.css" />
}

@section js {


    <script src="https://cdn.ckeditor.com/ckeditor5/37.0.1/classic/ckeditor.js"></script>

    <script>

        ClassicEditor
            .create(document.querySelector('#editor'), {
                // ...other configurations,
                extraPlugins: [Base64UploadAdapterPlugin]
            })

            .then(editor => {
                myEditor = editor;
            })

            .catch(error => {
                console.error(error);
            });

        function Base64UploadAdapterPlugin(editor) {
            editor.plugins.get('FileRepository').createUploadAdapter = function (loader) {
                return new Base64UploadAdapter(loader);
            };
        }

        class Base64UploadAdapter {
            constructor(loader) {
                this.loader = loader;
            }

            upload() {
                return this.loader.file
                    .then(file => new Promise((resolve, reject) => {
                        const reader = new FileReader();
                        reader.onload = () => {
                            resolve({ default: reader.result });
                        };
                        reader.onerror = error => {
                            reject(error);
                        };
                        reader.readAsDataURL(file);
                    }));
            }

            abort() { }
        }


        $('form').on('submit', function (e) {
            // 在表單提交時，手動更新隱藏的 input 欄位的值
            $('#CommissionDescription').val(myEditor.getData());
        });


    </script>
}