@model List<CommissionViewModel>

@{
    ViewData["Title"] = "Index";
}



<div class="container entrust Release_Area_Wrap paging">
   <div class="commissiomTop">
        <div class="Commissiontitle">
            <h3>委託的mod:</h3>
        </div>

        <div class="entrustClassification">
            <form id="CommissionSearchForm" method="get" class="filter-form">
                <div class="form-group">
                    <label for="CommissionsortFilter">排序：</label>
                    <select id="CommissionsortFilter" name="CommissionsortFilter" class="form-control">
                        <option value="CreateTime">上傳時間</option>
                        <option value="updateTime">更新時間</option>
                        <option value="name">名字</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="CommissionorderFilter">正反序：</label>
                    <select id="CommissionorderFilter" name="CommissionorderFilter" class="form-control">
                        <option value="desc">反序</option>
                        <option value="asc">正序</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="CommissionStatusFilter">狀態：</label>
                    <select id="CommissionStatusFilter" name="CommissionStatusFilter" class="form-control">
                        <option value="s01">待接受</option>
                        <option value="s02">進行中</option>
                        <option value="s03">已完成</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="CommissionpageSize">每次顯示的數量：</label>
                    <select id="CommissionpageSize" name="CommissionpageSize" class="form-control">
                        <option value="8">8</option>
                        <option value="16">16</option>
                        <option value="24">24</option>
                        <option value="32">32</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="CommissionSearch">搜索：</label>
                    <input type="text" name="CommissionsearchString" placeholder="Search" id="CommissionSearch" class="form-control">
                </div>
                <div class="form-group">
                    <label for="CommissionGameName">搜索遊戲：</label>
                    <input type="text" name="CommissionGameName" placeholder="Search" id="CommissionGameName" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">應用過濾</button>
                </div>
            </form>
        </div>

   </div>
   

    <div class="container text-center " id="commissionsContainer">
    </div>

</div>

@section css{
    <link href="~/css/commissiontable.css" rel="stylesheet" />
}

@section js{
    <script>
        $(document).ready(function () {
            //$('#commissionsContainer').load('/Commissions/GetCommissionsPartial');

            loadCommissions(1);
            CommissionsPageButton();


            $('#CommissionSearchForm').on('submit', function (e) {
                // 防止表單的預設提交行為
                e.preventDefault();

                // 重新載入分頁結果，從第一頁開始
                loadCommissions(1);
            });
        });
       

        function loadCommissions(pageNumber) {
            let CommissionsortFilter = $('#CommissionsortFilter').val();
            let CommissionorderFilter = $('#CommissionorderFilter').val();
            let CommissionpageSize = $('#CommissionpageSize').val();
            let CommissionsearchString = $('#CommissionSearch').val();
            let CommissionGameName = $('#GameSearch').val();
            let CommissionStatusFilter = $('#CommissionStatusFilter').val();

            $.ajax({
                url: '/Commissions/GetCommissionsPartial',
                data: {
                    page: pageNumber,
                    sortFilter: CommissionsortFilter,
                    orderFilter: CommissionorderFilter,
                    pageSize: CommissionpageSize,
                    searchString: CommissionsearchString,
                    gameName: CommissionGameName,
                    status: CommissionStatusFilter
                },
                success: function (data) {
                    $('#commissionsContainer').html(data);
                    var totalPages = $('#totalPages').val();
                    console.log(totalPages);
                    // 更新分頁
                    updatePagination(pageNumber, totalPages);
                    
                }
            });
        }

        function updatePagination(pageNumber, totalPages) {
            // 先清除現有的分頁
            $('#pagination').empty();

            // 加入上一頁按鈕
            $('#pagination').append('<li class="page-item ' + (pageNumber == 1 ? 'disabled' : '') + '" id="previous-page"><a class="page-link" href="#" data-page-number="' + (pageNumber - 1) + '" tabindex="-1" aria-disabled="true">Previous</a></li>');

            // 動態生成頁碼
            for (var i = 1; i <= totalPages; i++) {
                $('#pagination').append('<li class="page-item ' + (i == pageNumber ? 'active' : '') + '"><a class="page-link" href="#" data-page-number="' + i + '">' + i + '</a></li>');

            }

            // 加入下一頁按鈕
            $('#pagination').append('<li class="page-item ' + (pageNumber == totalPages ? 'disabled' : '') + '" id="next-page"><a class="page-link" href="#" data-page-number="' + (pageNumber + 1) + '">Next</a></li>');
        }

        function CommissionsPageButton() {
            $(document).on('click', '.page-link', function (event) {
                event.preventDefault();

                var page = $(this).data('page-number');
                loadCommissions(page);
            });
        }
    </script>
}