@model List<CommissionViewModel>

@{
    ViewData["Title"] = "Index";
}


<div class="container entrust Release_Area_Wrap paging">
    <div class="title">
        <h3>委託的mod:</h3>
    </div>
    <div class="container text-center commission-list">
        @await Html.PartialAsync("_CommssionList", Model)
    </div>
</div>

@section css{
    <link href="~/css/commissiontable.css" rel="stylesheet" />
}